/**Main page styling**/
header{
    background-color: #CCC;
    text-align: center;
    width: 800px;
    margin: 0 auto;
    padding-bottom: 20px;
}

body{
    width: 800px;
    background-color: #555; line-height: 1.2;
    margin: 0 auto;
    margin-top:20px;
    margin-bottom:20px;
    border: 1px solid #000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

footer{
    border-top: 1px solid #000000;
    background-color: #CCC;
    font-family: 'Poiret One', cursive; font-weight: 700;
    padding: 5px 0 5px 0;
    letter-spacing: 1.5px;
}

#logo{
    margin-bottom: 10px;
}

/**Navigation styling here**/
#nav{
    font-size: 25px;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    padding: 5px 0 5px 0;
}

h1, h2, p{
    font-family: 'Poiret One', cursive; font-weight: 700;
    letter-spacing: 1.5px;
}

a{
    font-family: 'Poiret One', cursive; text-decoration: none; font-weight: 700;
    letter-spacing: 1.5px;
    color: #2E64FE;
}

a:hover{
    color: #FFFF00;
}

ul{
    font-family: 'Poiret One', cursive; font-weight: 700;
    list-style-type: none;
    letter-spacing: 1.5px;
}

/**CSS for the Log in page/ form etc**/

#login-wrapper, #register-wrapper{
    background-color: #CCC;
    
}

#login-wrapper h1, #register-wrapper h1{
    margin-top: 0px;
}

form input{
    margin-bottom: 10px;
    height: 20px;
    width: 200px;
    font-family: 'Poiret One', cursive; font-weight: 700;
    font-size: 16px;
}

#loginbutton {
 color: #000;
 border: 1px solid #000;
 width: 100px;
 height: 30px;
 background: #69a6e0;
 margin: 10px 0;
 font-family: 'Poiret One', cursive; font-weight: 700;
 font-size: 15px;
 letter-spacing: 1.5px;
}

#registerbutton {
 color: #000;
 border: 1px solid #000;
 width: 100px;
 height: 30px;
 background: #FFFF00;
 margin: 10px 0;
 font-family: 'Poiret One', cursive; font-weight: 700;
 font-size: 15px;
 letter-spacing: 1.5px;
}

/**CSS for Register page**/

#cancelbutton {
 color: #000;
 border: 1px solid #000;
 width: 100px;
 height: 30px;
 background: #FF0000;
 margin: 10px 0;
 font-family: 'Poiret One', cursive; font-weight: 700;
 font-size: 15px;
 letter-spacing: 1.5px;
}


/**Results styling, preview styling**/
#listing-wrapper{
    background-color: #CCC;
}

#results img{
    border: 1px solid #000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 5px 5px #888;
    -webkit-box-shadow: 0 5px 5px #888;
    box-shadow: 0 5px 5px #888;
}

#detail img{
    margin-bottom: 20px;
    border: 1px solid #000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 5px 5px #888;
    -webkit-box-shadow: 0 5px 5px #888;
    box-shadow: 0 5px 5px #888;
}



/***Media Queries***/
@media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
        {
            /*styles*/
        }
        
/*** iPad 3 and 4 ***/
@media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (-webkit-min-device-pixel-ratio: 2)
        {
            body{
		width: 768px;
	    }
        }
        
/*** iPhone 5 ***/
@media only screen
    and (min-device-width: 320px)
    and (max-device-width: 528px)
        {
            body{
                width: 500px;
            }
        }

/*** iPhone 2 - 4s ***/
@media only screen
    and (min-device-width: 320px)
    and (max-device-width: 480px)
        {
            body{
                width: 300px;
            }
        }